# Python cache/compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# System/Editor files
.DS_Store
Thumbs.db
*.swp
*.swo

# Logs and temp files
*.log
*.tmp

# VSCode / IDE settings
.vscode/
.idea/


